# This is a comment
# Each entry is menuname, "Command text", classname
# This puts a command named "Foo" in the Plugins menu associated with the "FancyPluginClass" class.
##Plugins, "Foo", FancyPluginClass

Plugins>DropletFinder, "DF_Bandpass", droplet_finder.DF_Bandpass
Plugins>DropletFinder, "DF_Filterstacker", droplet_finder.DF_Filterstacker
Plugins>DropletFinder, "DF_Watershed", droplet_finder.DF_Watershed3D
Plugins>DropletFinder, "DF_Segment_Analyzer", droplet_finder.DF_Segment_Analyzer
